{% extends "wrapper.html" %}
{% from "macros.html" import menu, productCard %}

{% block title %} SkateMotion Monterrey {% endblock %}

{% block menu %}
	{{ menu("inicio") }}
{% endblock %}

{% block content %}
<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">El mejor lugar de Patinetas de todo Nuevo León</p>
						<h1>Patinetas al mejor precio</h1>
						<div class="hero-btns">
							<a href="patinetas" class="boxed-btn">Patinetas</a>
							<a href="login" class="bordered-btn">Haz login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Envio gratis</h3>
						<p>En ordenes arriba de 499$</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>Soporte 24/7</h3>
						<p>Contactate con nosotros</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Mejores Precios</h3>
						<p>Consigue los precios con nosotros!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->

{% if recently_purchased %}
<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Productos</span> Comprados Recientemente</h3>
					<p>Los productos que compraste recientemente</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for compra in recently_purchased %}
			<div class="row d-flex w-100">
				<div class="col-md-9 h-100 p-0">
					<div class="card flex-row flex-wrap" style="margin:5px;">
						<div class="card-header border-0">
							<img src="{{ url_for('static', filename='img/products/' + compra.image) }}" style="max-height: 200px; max-width: 200px; object-fit: cover;" alt="">
						</div>
						<div class="card-block px-2">
							<h4 class="card-title" style="margin:5px;">{{ compra.name }}</h4>
							<p class="card-text">Categoria: {{ compra.category }}</p>
							<p class="card-text" style="font-size: 20px;">${{ compra.price }}</p>
							<p class="card-text">Fecha de Compra: {{ compra.date }}</p>

						</div>
					</div>
				</div>
				<div class="col-md-3 h-100 p-0">
					<div class="card h-100" style="margin:5px;">
						<div class="card-body">
							<p class="card-text" style="font-size:25px;">Status: {{ compra.status }}</p>
							{% if compra.status == "Pendiente" %}
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
							</div>					  
							{% elif compra.status == "En bodega" %}
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							{% elif compra.status == "En camino" %}
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							{% elif compra.status == "Entregado" %}
							<div class="progress">
								<div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->
{% endif %}

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Productos</span> Recomendados</h3>
					<p>Productos recomendados dado a lo que haz visto recientemente</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for product in recommended_products %}
				{{ productCard(product) }}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->
{% endblock %}