{% extends "wrapper.html" %}
{% from "macros.html" import menu, productCard %}

{% block title %} SkateMotion Monterrey {% endblock %}

{% block menu %}
	{{ menu(category) }}
{% endblock %}

{% block content %}
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>{{ category }}s</p>
                    <h1>Comprar</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- products -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row product-lists">
            {% for product in products %}
                {{ productCard(product) }}
            {% endfor %}
    </div>
</div>
<!-- end products -->
{% endblock %}