{% extends "wrapper.html" %}
{% from "macros.html" import menu, productCard %}

{% block title %} SkateMotion Monterrey {% endblock %}
{% block highlightSection %}inicio{% endblock %}

{% block menu %}
	{{ menu("inicio") }}
{% endblock %}

{% block content %}
<!-- hero area -->
<div class="hero-area hero-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 offset-lg-2 text-center">
				<div class="hero-text">
					<div class="hero-text-tablecell">
						<p class="subtitle">El mejor lugar de Patinetas de todo Nuevo León</p>
						<h1>Patinetas al mejor precio</h1>
						<div class="hero-btns">
							<a href="patinetas" class="boxed-btn">Patinetas</a>
							<a href="login" class="bordered-btn">Haz login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end hero area -->

<!-- features list section -->
<div class="list-section pt-80 pb-80">
	<div class="container">

		<div class="row">
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-shipping-fast"></i>
					</div>
					<div class="content">
						<h3>Envio gratis</h3>
						<p>En ordenes arriba de 499$</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
				<div class="list-box d-flex align-items-center">
					<div class="list-icon">
						<i class="fas fa-phone-volume"></i>
					</div>
					<div class="content">
						<h3>Soporte 24/7</h3>
						<p>Contactate con nosotros</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="list-box d-flex justify-content-start align-items-center">
					<div class="list-icon">
						<i class="fas fa-sync"></i>
					</div>
					<div class="content">
						<h3>Mejores Precios</h3>
						<p>Consigue los precios con nosotros!</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
<!-- end features list section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Productos</span> Recomendados</h3>
					<p>Productos recomendados dado a lo que haz visto recientemente</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for product in recommended_products %}
				{{ productCard(product) }}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->

<!-- product section -->
<div class="product-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">	
					<h3><span class="orange-text">Productos</span> Comprados Recientemente</h3>
					<p>Los productos que compraste recientemente</p>
				</div>
			</div>
		</div>

		<div class="row">
			{% for product in recently_purchased %}
				{{ productCard(product) }}
			{% endfor %}
		</div>
	</div>
</div>
<!-- end product section -->
{% endblock %}