{% macro menu(highlightSection) %}
<!-- menu start -->
<nav class="main-menu">
    <ul>

        <li><a href="{{ url_for('index') }}" {% if highlightSection == "inicio" %}style="color:orange;"{% endif %}>Inicio</a></li>
        <li><a href="{{ url_for('patinetas') }}" {% if highlightSection == "Completa" %}style="color:orange;"{% endif %} >Patinetas</a></li>
        <li><a href="{{ url_for('tablas') }}" {% if highlightSection == "Tabla" %}style="color:orange;"{% endif %}>Tablas</a></li>
        <li><a href="{{ url_for('ejes') }}" {% if highlightSection == "Eje" %}style="color:orange;"{% endif %}>Ejes</a></li>
        <li><a href="{{ url_for('ruedas') }}" {% if highlightSection == "Rueda" %}style="color:orange;"{% endif %} >Ruedas</a></li>
        <li><a href="{{ url_for('comprasRecientes') }}" {% if highlightSection == "comprasRecientes" %}style="color:orange;"{% endif %} >Compras Recientes</a></li>
        <li><a href="{{ url_for('dashboard')}}" {% if highlightSection == "Dashboard" %}style="color:orange;"{% endif %} class="dashboard"></a></li>
        <li>
            <div class="header-icons">
                <a class="shopping-cart" href="{{ url_for('cart') }}"><i class="fas fa-shopping-cart"></i></a>
                <a href="{{ url_for('logout')}}" class="logout"><i class="fas fa-sign-out-alt"></i></a>
                <a href="{{ url_for('login')}}"  class="login"><i class="fas fa-user"></i></a>
            </div>
        </li>

    </ul>
</nav>
<div class="mobile-menu"></div>
<!-- menu end -->
{% endmacro %}

{% macro productCard(product) %}
<div class="col-lg-4 col-md-6 text-center">
    <div class="single-product-item">
        <div class="product-image">
            <a href="single-product/{{ product.ID }}"><img src="{{ url_for('static', filename='img/products/' + product.image) }}" alt=""></a>
        </div>
        <h3>{{ product.name }}</h3>
        <p class="product-price"> {{ product.price }}$ </p>
        <a href="cart?p={{ product.ID }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
</div>
{% endmacro %}

{% macro sidebar(highlightSection) %}
<!--Macro Sidebar Dashboard-->
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #051922; background-image:linear-gradient(180deg,#000000 10%,#051922 100%);">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item {% if highlightSection == "Dashboard" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('dashboard')}}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <!-- Heading -->
    <div class="sidebar-heading">
        Herramientas
    </div>

    <!-- Nav Item - Historial Ventas -->
    <li class="nav-item {% if highlightSection == "Ventas" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('ventas')}}">
            <i class="fas fa-dollar-sign"></i>
            <span>Ventas</span></a>
    </li>

    <!-- Nav Item - Proveedores -->
    <li class="nav-item {% if highlightSection == "Proveedores" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('proveedores')}}">
            <i class="fas fa-box"></i>
            <span>Proveedores</span></a>
    </li>

    <!-- Nav Item - Gestionar Usuarios -->
    <li class="nav-item {% if highlightSection == "usuariosGestion" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('usuariosGestion')}}">
            <i class="fas fa-fw fa-user"></i>
            <span>Gestionar Usuarios</span></a>
    </li>

    <!-- Nav Item - Gestionar Productos -->
    <li class="nav-item {% if highlightSection == "productosGestion" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('productosGestion')}}">
            <i class="fas fa-fw fa-store"></i>
            <span>Gestionar Productos</span></a>
    </li>

    <!-- Nav Item - Gestionar Promociones -->
    <li class="nav-item {% if highlightSection == "Promociones" %}active{% endif %}">
        <a class="nav-link" href="{{ url_for('promociones')}}">
            <i class="fas fa-fw fa-percent"></i>
            <span>Promociones</span></a>
    </li>            

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>
<!-- End of Sidebar -->

{% endmacro %}
