{% macro menu(highlightSection) %}
<!-- menu start -->
<nav class="main-menu">
    <ul>
        <li><a href="/" {% if highlightSection == "inicio" %}style="color:orange;"{% endif %}>Inicio</a></li>
        <li><a href="patinetas">Patinetas</a></li>
        <li><a href="tablas">Tablas</a></li>
        <li><a href="ejes">Ejes</a></li>
        <li><a href="ruedas">Ruedas</a></li>
        <li>
            <div class="header-icons">
                <a class="shopping-cart" href="cart.html"><i class="fas fa-shopping-cart"></i></a>
                <a href="login"><i class="fas fa-user"></i></a>
            </div>
        </li>
    </ul>
</nav>
<div class="mobile-menu"></div>
<!-- menu end -->
{% endmacro %}

{% macro productCard(product) %}
<div class="col-lg-4 col-md-6 text-center">
    <div class="single-product-item">
        <div class="product-image">
            <a href="single-product/{{ product.id }}"><img src="{{ url_for('static', filename='img/products/' + product.image) }}" alt=""></a>
        </div>
        <h3>{{ product.name }}</h3>
        <p class="product-price"> {{ product.price }}$ </p>
        <a href="cart/{{ product.id }}" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
    </div>
</div>
{% endmacro %}