<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>Registro de Cuenta</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<!-- animate css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
	<!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
    <style>
        .btn-orange {
            background-color: orange;
            border-color: orange;
            color: white;
        }
    </style>
</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- flash handler -->
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'info' %}
					<div class="alert alert-info alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'warning' %}
					<div class="alert alert-warning alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'error' %}
					<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'success' %}
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	<!-- end flash handler -->

	<!-- header -->
    <div style="width: 100%; height: 100px; background-color: #374b56; margin: 0 auto; padding: 0;"></div>
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="../static/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/">Inicio</a></li>
								<li><a href="patinetas">Patinetas</a></li>
								<li><a href="tablas">Tablas</a></li>
								<li><a href="ejes">Ejes</a></li>
								<li><a href="ruedas">Ruedas</a></li>
								<li>
									<div class="header-icons">
										<a class="shopping-cart" href="cart"><i class="fas fa-shopping-cart"></i></a>
										<a href="login"><i class="fas fa-user"></i></a>
									</div>
								</li>
							</ul>
						</nav>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
	

    <!-- Sección principal -->
    <div class="container"style="margin-top:50px;">
        <div class="card" style="width:50%; height:500px; margin: 0 auto;">
            <div class="card-body">
                <form action="#" method="post">
                    <div class="mb-3 text-center">
                        <i class="fas fa-user fa-4x"></i>
                    </div>
                    <div class="mb-3 text-center">
                            <h3><span class="orange-text">Registro</span> <br>De Usuario</h3>
                    </div>
                    <div class="mb-3">
                        <label for="name" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" name="name" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="correo" class="form-label">Correo:</label>
                        <input type="email" class="form-control" name="email" id="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Contraseña:</label>
                        <input type="password" class="form-control" name="password" id="password" required>
                    </div>
                    <div class="mb-3">
                        <span>Ya tienes una cuenta?, inicia sesion</span>
                        <a href="login"> 
                            <span>aqui</span>
                        </a>
                    </div>
                    
                    <div class="text-center">
                        <button type="submit" class="btn btn-orange">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

	
	
	<!-- jquery -->
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
	<!-- bootstrap -->
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- count down -->
	<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
	<!-- isotope -->
	<script src="{{ url_for('static', filename='js/jquery.isotope-3.0.6.min.js') }}"></script>
	<!-- waypoints -->
	<script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
	<!-- owl carousel -->
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!-- magnific popup -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<!-- mean menu -->
	<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
	<!-- sticker js -->
	<script src="{{ url_for('static', filename='js/sticker.js') }}"></script>
	<!-- main js -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>