<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}{% endblock %}</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<!-- animate css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
	<!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
	<!--Dashboard-->
	<!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{{ url_for('static', filename='css/sb-admin-2.min.css')}}" rel="stylesheet">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- flash handler
	{% with messages = get_flashed_messages(with_categories=True) %}
		{% if messages %}
			{% for category, message in messages %}
				{% if category == 'info' %}
					<div class="alert alert-info alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'warning' %}
					<div class="alert alert-warning alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'error' %}
					<div class="alert alert-danger alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
				{% if category == 'success' %}
					<div class="alert alert-success alert-dismissible">
						<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
						<strong>{{ message }}</strong>
					</div>
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endwith %}
	end flash handler -->


	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="../static/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->
                        {% block menu %}{% endblock %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->


    {% block content %}{% endblock %}


	
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-8">
					<div class="footer-box about-widget">
						<h2 class="widget-title text-center">Sobre Nosotros</h2>
						<p>Bienvenido a SkateMotion Monterrey, tu tienda de confianza para todo lo relacionado con el mundo del skate. Desde nuestros humildes comienzos, nos hemos dedicado a proporcionar a la comunidad de Monterrey y más allá, los mejores productos de patinetas, accesorios y ropa de skate.<p>
					</div>
				</div>
				<div class="col-lg-4 col-md-8">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title text-center">Contacto</h2>
						<ul>
							<li>Jose Ignacio 213, San Pedro</li>
							<li>arturo.vargase@udem.edu</li>
							<li>+81 2338 3282</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-8">
					<div class="footer-box pages">
						<h2 class="widget-title text-center">Paginas</h2>
						<ul>
							<li><a href="/">Inicio</a></li>
							<li><a href="{{ url_for('patinetas') }}">Patinetas</a></li>
							<li><a href="{{ url_for('tablas') }}">Tablas</a></li>
							<li><a href="{{ url_for('ejes') }}">Ejes</a></li>
							<li><a href="{{ url_for('ruedas') }}">Ruedas</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="https://imransdesign.com/">UDEM</a>,  All Rights Reserved.<br>
						Distribuido por - <a href="https://themewagon.com/">UDEM</a>
					</p>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
	<!-- bootstrap -->
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- count down -->
	<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
	<!-- isotope -->
	<script src="{{ url_for('static', filename='js/jquery.isotope-3.0.6.min.js') }}"></script>
	<!-- waypoints -->
	<script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
	<!-- owl carousel -->
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!-- magnific popup -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<!-- mean menu -->
	<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
	<!-- sticker js -->
	<script src="{{ url_for('static', filename='js/sticker.js') }}"></script>
	<!-- main js -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	<!-- script js -->
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>