<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>{% block title %}{% endblock %}</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="assets/img/favicon.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.css') }}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
	<!-- animate css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/meanmenu.min.css') }}">
	<!-- main style -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<!-- responsive -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">

</head>
<body>
	
	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
	
	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img src="../static/img/logo.png" alt="">
							</a>
						</div>
						<!-- logo -->
                        {% block menu %}{% endblock %}
						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->
    {% block content %}{% endblock %}
	<!-- footer -->
	<div class="footer-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-8">
					<div class="footer-box about-widget">
						<h2 class="widget-title text-center">Sobre Nosotros</h2>
						<p>Bienvenido a SkateMotion Monterrey, tu tienda de confianza para todo lo relacionado con el mundo del skate. Desde nuestros humildes comienzos, nos hemos dedicado a proporcionar a la comunidad de Monterrey y más allá, los mejores productos de patinetas, accesorios y ropa de skate.<p>
					</div>
				</div>
				<div class="col-lg-4 col-md-8">
					<div class="footer-box get-in-touch">
						<h2 class="widget-title text-center">Contactate</h2>
						<ul>
							<li>Jose Ignacio 213, San Pedro</li>
							<li>arturo.vargase@udem.edu</li>
							<li>+81 2338 3282</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4 col-md-8">
					<div class="footer-box pages">
						<h2 class="widget-title text-center">Paginas</h2>
						<ul>
							<li><a href="index.html">Inicio</a></li>
							<li><a href="patinetas.html">Patinetas</a></li>
							<li><a href="tablas.html">Tablas</a></li>
							<li><a href="ejes.html">Ejes</a></li>
							<li><a href="ruedas.html">Ruedas</a></li>
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end footer -->
	
	<!-- copyright -->
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-12">
					<p>Copyrights &copy; 2024 - <a href="https://imransdesign.com/">UDEM</a>,  All Rights Reserved.<br>
						Distribuido por - <a href="https://themewagon.com/">UDEM</a>
					</p>
				</div>
				
			</div>
		</div>
	</div>
	<!-- end copyright -->
	
	<!-- jquery -->
	<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script>
	<!-- bootstrap -->
	<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
	<!-- count down -->
	<script src="{{ url_for('static', filename='js/jquery.countdown.js') }}"></script>
	<!-- isotope -->
	<script src="{{ url_for('static', filename='js/jquery.isotope-3.0.6.min.js') }}"></script>
	<!-- waypoints -->
	<script src="{{ url_for('static', filename='js/waypoints.js') }}"></script>
	<!-- owl carousel -->
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
	<!-- magnific popup -->
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
	<!-- mean menu -->
	<script src="{{ url_for('static', filename='js/jquery.meanmenu.min.js') }}"></script>
	<!-- sticker js -->
	<script src="{{ url_for('static', filename='js/sticker.js') }}"></script>
	<!-- main js -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>