{% extends "wrapper.html" %}
{% from "macros.html" import menu, sidebar %}

{% block title %} SkateMotion Monterrey {% endblock %}

{% block menu %}
	{{ menu("Dashboard") }}
<script>
    function validateForm(e) {
        var form = document.querySelector('.modal-content');
        if (form.checkValidity()) {
            form.submit();
        } else {
            e.preventDefault();
            setTimeout(function() {
                var modal = document.getElementById('modal');
                $(modal).modal('show');
            }, 500);
            var modal = document.getElementById('modal');
            $(modal).modal('show');
        }
    }
</script>
{% endblock %}

{% block content %}
<div style="width: 100%; height: 100px; background-color: #051922; margin: 0 auto; padding: 0; "></div>
<!-- Page Wrapper -->
<div id="wrapper">

    {% block sidebar %}
		{{sidebar("productosGestion")}}
	{% endblock %}

    <!-- Modal creación de productos -->
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" method="POST" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crear Producto</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required>

                        <label for="price">Precio</label>
                        <input type="number" class="form-control" id="price" name="price" min="0" required>

                        <label for="category">Categoría</label>
                        <select class="form-control" id="category" name="category" required>
                            <option value="" disabled selected>Selecciona una categoría</option>
                            {% for category in categories %}
                                <option value="{{ category.ID }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        
                        <label for="image">Imagen</label>
                        <input type="file" class="form-control" id="image" name="image" required>
                    </div>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" onclick="validateForm(event)">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <br>
            

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-inline-flex align-items-center justify-content-between w-100">
                    <div>
                        <h1 class="h3 mb-2 text-gray-800">Productos</h1>
                        <p class="mb-4">Aquí puedes manejar el inventario de productos, borrar productos o agregar nuevos  </p>
                    </div>
                    <button class="btn btn-primary" data-toggle="modal" data-target="#modal">Agregar Producto</button>
                </div>

                <!-- DataTable -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablaProductos" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Precio</th>
                                        <th>Inventario</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for product in products %}
                                    <tr>
                                        <td class="text-center">  {{ product.ID }}</td>
                                        <td>{{ product.name }}<br>
                                            <span class="badge badge-pill badge-secondary">{{ product.category }}</span>
                                        </td>
                                        <td>{{ product.price }}</td>
                                        <td>
                                            {% if product.stock >= 20 %}
                                                <span class="badge badge-pill badge-success">{{ product.stock }}</span>
                                            {% elif product.stock >= 15 %}
                                                <span class="badge badge-pill badge-info">{{ product.stock }}</span>
                                            {% elif product.stock >= 10 %}
                                                <span class="badge badge-pill badge-warning">{{ product.stock }}</span>
                                            {% else %}
                                                <span class="badge badge-pill badge-danger">{{ product.stock }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}

{% block script %}
<script>
    $('#tablaProductos').dataTable();
</script>
{% endblock %}