{% extends "wrapper.html" %}
{% from "macros.html" import menu, sidebar %}

{% block title %} SkateMotion Monterrey {% endblock %}

{% block menu %}
	{{ menu("Dashboard") }}
{% endblock %}

{% block content %}
<div style="width: 100%; height: 100px; background-color: #051922; margin: 0 auto; padding: 0; "></div>
<!-- Page Wrapper -->
<div id="wrapper">

    {% block sidebar %}
		{{sidebar("Proveedores")}}
	{% endblock %}
    <!-- Modal creación de compra -->
    <div class="modal fade" id="modalCompra" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form class="modal-content" method="POST" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Hacer Pedido</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>

                <div class="modal-body" style="z-index: 1;">
                    <div class="form-group" id="form">
                        <label for="proveedor">Proveedores</label>
                        <select class="form-control" id="proveedor" name="proveedor" required>
                            <option value="" disabled selected>Selecciona un proveedor</option>
                            {% for supplier in suppliers %}
                                <option value="{{ supplier.ID }}">{{ supplier.name }}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <div id="product-container">
                            <div class="container p-3 mb-3 bg-light border rounded product-input"></div>
                        </div>
                        <br>
                        <button id="submit-btn" class="btn btn-primary w-100" type="button" onclick="addProductInput()">Agregar Producto</button>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit" onclick="submitOrder()">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    <!-- modal creación de proveedor -->
    <div class="modal fade" id="modalProveedor" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <form action="proveedores/createSupplier" class="modal-content" method="POST" enctype="multipart/form-data">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Crear Proveedor</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                        <label for="email">Correo</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                        <label for="phone">Teléfono</label>
                        <input type="text" class="form-control" id="phone" name="phone" maxlength="10" required>
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address" name="address" required>
                    </div>
                </div>
                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-primary" type="submit">Confirmar</button>
                </div>
            </form>
        </div>
    </div>

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <br>

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-inline-flex align-items-center justify-content-between w-100">
                        <div>
                            <h1 class="h3 mb-2 text-gray-800">Compras a Proveedores</h1>
                            <p class="mb-4">Aquí puedes mandar pedidos a proveedores y visualizar pedidos previos</p>
                        </div>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalProveedor">Agregar proveedor</button>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#modalCompra">Hacer Pedido</button>
                    </div>

                    <!-- content card -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary"></h6>
                        </div>
                        <div class="card-body">
                            <!-- DataTable -->
                            <div class="table-responsive">
                                <table class="table table-bordered" id="tablaCompras" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>ID Compra</th>
                                            <th>Proveedor</th>
                                            <th>Correo</th>
                                            <th>Teléfono</th>
                                            <th>Fecha</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for compra in purchases %}
                                        <tr>
                                            <td class="text-center">  {{ compra.idCompraProveedor }}</td>
                                            <td>{{ compra.nombreProveedor }}</td>
                                            <td>{{ compra.correoProveedor }}</td>
                                            <td>{{ compra.telefonoProveedor }}</td>
                                            <td>{{ compra.fecha }}</td>
                                            <td>{{ compra.total }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                </div>

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}

{% block script %}
<script>
order = {
    provider: '',
    products: []
}

products = []

form = $('#form');
providerInput = $('#proveedor');
productContainer = $('#product-container');
submitBtn = $('#submit-btn');
submitBtn.prop('disabled', true);


function createProductInput() {
    let productInput = document.createElement('div');
    productInput.classList.add('container', 'p-3', 'mb-3', 'bg-light', 'border', 'rounded', 'product-input');
    productInput.innerHTML = `
        <label for="producto">Producto</label>
        <select class="form-control" id="producto" name="producto" required>
            <option value="" disabled selected>Selecciona un producto</option>
        </select><br>

        <label for="cantidad">Cantidad</label>
        <input type="number" class="form-control" id="cantidad" name="cantidad" min="0" required>
        `;
    return productInput;
}

$('#proveedor').on('change', function() {
    let id = $(this).val();
    let request = $.ajax({
        url: '/dashboard/proveedores/getProductsBySupplier/' + id,
        type: 'GET',
        dataType: 'json'
    });

    request.done(function(data) {
        order = {
            provider: id,
            products: []
        }
        products = data;
        productContainer.empty();
        addProductInput();
        submitBtn.prop('disabled', false);
    });
});

function addProductInput() {
    if (order.products.length >= products.length) { return; }

    let newProductInput = createProductInput();

    productIndex = order.products.length;
    order.products[productIndex] = {
        product: '',
        quantity: 0
    };

    // Fill product select
    let productSelect = $(newProductInput).find('select[name="producto"]');
    //productSelect.append('<option value="" disabled selected>Selecciona un producto</option>');
    products.forEach(function(product) {
        productSelect.append(`<option value="${product.ID}">${product.name}</option>`);
    });
    productSelect.on('change', function() {
        order.products[productIndex].product = $(this).val();
        console.log($(this).val());
    });

    // Quantity input
    let quantityInput = $(newProductInput).find('input[name="cantidad"]');
    quantityInput.on('input', function() {
        order.products[productIndex].quantity = $(this).val();
        console.log($(this).val());
        console.log(JSON.stringify(order))
    });

    productContainer.append(newProductInput);
}
function submitOrder() {
    console.log(order);
    $('<form>', {
        "id": "orderForm",
        "html": '<input type="hidden" name="order" value="' + encodeURIComponent(JSON.stringify(order)) + '" />',
        "method": 'POST',
        "action": '/dashboard/proveedores'
    }).appendTo(document.body).submit();
}

// DataTable
let table = $('#tablaCompras').dataTable({
    columnDefs: [
        {
            targets: 0,
            className: 'dt-control'
        },
        {
            targets: [2, 3],
            searchable: false,
            orderable: false
        }
    ],
    order: [[0, 'desc']]
});

formatRecentPurchases = function(data) {  
    let tableHead = `<div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total Price</th>
                                </tr>
                            </thead><tbody>`;      
    let tableBody = data.map(function(purchase) {
        const total = purchase.precioProveedor * purchase.cantidad;
        return (
            `<tr>
                <th>${purchase.nombre}</th>
                <th>${purchase.precioProveedor}</th>
                <th>${purchase.cantidad}</th>
                <th>${total}</th>
            </tr>`
        ); 
    }).join('');
    let tableFooter= `</tbody></table></div>`;
    return tableHead + tableBody + tableFooter;
}

table.on('click', 'td.dt-control', function(e) {
    let tr = e.target.closest('tr');
    let row = table.api().row(tr);

    if (row.child.isShown()) {
        row.child.hide();
    } else {
        let id = row.data()[0];
        
        let request = $.ajax({
            url: '/dashboard/proveedores/getProductsInPurchase/' + id,
            type: 'GET',
            dataType: 'json'
        });

        request.done(function(data) {
            row.child(formatRecentPurchases(data)).show();
        });
    }
});
</script>
{% endblock %}