{% extends "wrapper.html" %}
{% from "macros.html" import menu, sidebar %}

{% block title %} SkateMotion Monterrey {% endblock %}

{% block menu %}
	{{ menu("Dashboard") }}
{% endblock %}

{% macro statusStyle(status) %}{% if status == "Pendiente" %}bg-danger{% elif status == "En bodega" %}bg-warning{% elif status == "En camino" %}bg-info{% elif status == "Entregado" %}bg-success{% endif %}{% endmacro %}

{% macro statusID(status) %}{% if status == "Pendiente" %}1{% elif status == "En bodega" %}2{% elif status == "En camino" %}3{% elif status == "Entregado" %}4{% endif %}{% endmacro %}

{% block content %}
<div style="width: 100%; height: 100px; background-color: #051922; margin: 0 auto; padding: 0; "></div>
<!-- Page Wrapper -->
<div id="wrapper">

    {% block sidebar %}
		{{sidebar("Ventas")}}
	{% endblock %}

    <!-- Modal estado -->
    <div class="modal fade" id="modalEstado" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Actualizar estado</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-between">
                    <a class="btn btn-danger" href="">Pendiente</a>
                    <a class="btn btn-warning" href="">En bodega</a>
                    <a class="btn btn-info" href="">En camino</a>
                    <a class="btn btn-success" href="">Entregado</a>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <br>
            

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Ventas</h1>
                <p class="mb-4">Aqui puedes visualizar y manejar ventas</p>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary"></h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="tablaVentas" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Fecha Venta</th>
                                        <th>Fecha Entrega</th>
                                        <th>Usuario</th>
                                        <th>Dirección</th>
                                        <th>Total</th>
                                        <th>Estado</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for sale in sales %}
                                    <tr>
                                        <td>{{ sale.saleDate }}</td>
                                        <td>{{ sale.deliveryDate }}</td>
                                        <td>{{ sale.name }}</td>
                                        <td>{{ sale.address }}</td>
                                        <td>{{ "${:,.2f}".format(sale.total) }}</td>
                                        <td data-order="{{ statusID(sale.status) }}" class="progress-bar progress-bar-striped {{ statusStyle(sale.status) }}" role="progressbar" aria-valuenow="{{ statusID(sale.status) }}" aria-valuemin="0" aria-valuemax="4">
                                            {{
                                                sale.status
                                            }}
                                        </td>
                                        <td>
                                            <button class="btn btn-primary" data-toggle="modal" data-target="#modalEstado" data-id="{{ sale.ID }}">Actualizar Estado</button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
{% endblock %}

{% block script %}
<script>
let table = $('#tablaVentas').DataTable({
    columnDefs: [
        {
            targets: 6,
            searchable: false,
            orderable: false
        }
    ],
    layout: {
        top1: {
            searchPanes: {
                viewTotal: true
            }
        }
    }
});

// Modal de estado
$('#modalEstado').on('show.bs.modal', function (event) { // Evento que se ejecuta al abrir el modal
    const button = $(event.relatedTarget); // Botón que activó el modal

    const saleID = button.data('id'); // ID de la venta

    const modal = $(this);

    modal.find('.btn-danger').attr('href', `/dashboard/ventas/update/${saleID}/1`);
    modal.find('.btn-warning').attr('href', `/dashboard/ventas/update/${saleID}/2`);
    modal.find('.btn-info').attr('href', `/dashboard/ventas/update/${saleID}/3`);
    modal.find('.btn-success').attr('href', `/dashboard/ventas/update/${saleID}/4`);
});
</script>
{% endblock %}